<footer class="bg-primary">
    <div class="container py-5 text-white">
        <div class="row">

            <div class="col-md-4">
                <div class="row d-flex align-items-center">
                    <div class="col-3">
                        <img src="assets/images/iconLocation.svg" width="100%" alt="">
                    </div>
                    <div class="col-9 ">
                        <div>
                            <span>Av. Universitaria 1055<br>
                Cercado de Lima</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row d-flex align-items-center">
                    <div class="col-3">
                        <img src="assets/images/iconMail.svg" width="100%" alt="">
                    </div>
                    <div class="col-9 ">
                        <div>
                            <span>Escríbenos a:</span><br>
                            <span><a class="text-white" style="word-break: break-all;" href="mailto:atencionalcliente@carneszedina.com">atencionalcliente@carneszedina.com </a></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row d-flex align-items-center">
                    <div class="col-3">
                        <img src="assets/images/iconPhone.svg" width="100%" alt="">
                    </div>
                    <div class="col-5">
                        <div>
                            <span>T. 451-1100</span><br>
                            <span>C. 989 357 785</span><br>
                        </div>
                    </div>
                    <div class="col-4">
                        <a href="#" target="blank">
                            <img src="assets/images/iconInstagram.svg" width="50%" alt="">
                        </a>
                        <a href="https://www.facebook.com/carneszedina" target="blank">
                            <img src="assets/images/iconFacebook.svg" width="50%" alt="">
                        </a>
                    </div>
                </div>
            </div>

        </div>



        <hr>
        <div class="text-center">
            <p class="small text-white font-weight-light">Zedina 2018 - Todos los derechos reservados.<br> Desarrollado por <ins><a class="text-white" href="http://khapac.com" target="blank">Khapac</a></ins></p>
        </div>


    </div>
</footer>