<div class="pt-6">
  <div class="container"><hr class="mt-4 mb-0"></div> 
  <div class="backNosotros pt-3">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Inicio</a></li>
            <li class="breadcrumb-item active">Servicios</li>
          </ol>
        </nav>
        <div class="row">
          <div class="col-md-5 d-flex align-items-center">
            <div>
              <h1 class="text-warning font-italic font-weight-bold">Proceso de calidad</h1>
              <h5 class="font-weight-light mt-4 mb-5">Mediante una supervisión y dirección constante, con personal altamente calificado, logramos mantener en cada etapa de nuestro proceso, estándares y buenas prácticas de manufactura que garantizan la calidad de nuestros productos.</h5>
              <!-- <a class="btn btn-primary btn-lg button px-4" routerLink="/">
                <img height="16" class="mr-3" src="./assets/images/iconNext.svg">
                Conócenos
              </a> -->
            </div>
          </div>
          <div class="col-md-7 d-flex align-items-end">
            <div>
              <img src="./assets/images/personalServicios.png" width="100%" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-10">

          <div class="d-flex justify-content-center align-items-end">
            <div>
              <img src="assets/images/iconTrabajadores.svg" alt="Proceso Zedina" width="180px">
            </div>
          </div>

            <div class="row py-5 boxServicios d-flex align-items-center">
              <div class="col-6 pr-lg-4 text-right bloqueTextServicios">
                <span class="h3 text-warning font-italic font-weight-bold">Desposte <span class="d-none d-lg-inline-block"><img  src="assets/images/iconDesposte.svg" alt="" width="70px"></span>
                </span>
                <p class="ml-lg-6">Nuestro proceso de desposte se realiza en instalaciones y temperaturas adecuadas bajo la supervisión de personal altamente calificado para lograr cortes de la más alta calidad.</p>
              </div>
              <div class="col-6 pl-lg-4">
                <img class="rounded" src="assets/images/serviciosDesposte.jpg" alt="Servicios Desposte Zedina" width="100%">
              </div>
            </div>

            <div class="row py-5 boxServicios d-flex align-items-center">
                <div class="col-6 pr-lg-4">
                    <img class="rounded" src="assets/images/serviciosEmpaque.jpg" alt="Servicios Empaque Zedina" width="100%">
                  </div>
              <div class="col-6 pl-lg-4 bloqueTextServicios">
                <span class="h3 text-warning font-italic font-weight-bold"><span class="d-none d-lg-inline-block"><img  src="assets/images/iconEmpaque.svg" alt="" width="70px"></span> Empaque</span>
                <p class="mr-lg-6">Los cortes de son empacados al vacío mediante equipos de alta tecnología para garantizar su conservación y calidad.</p>
              </div>
            </div>

            <div class="row py-5 boxServicios d-flex align-items-center">
              <div class="col-6 pr-lg-4 text-right bloqueTextServicios">
                <span class="h3 text-warning font-italic font-weight-bold">Congelado <span class="d-none d-lg-inline-block"><img  src="assets/images/iconCongelado.svg" alt="" width="70px"></span>
                </span>
                <p class="ml-lg-6">Siguiendo todos los estándares de calidad, nuestros productos son embalados y rotulados de acuerdo a la norma técnica peruana.</p>
              </div>
              <div class="col-6 pl-lg-4">
                <img class="rounded" src="assets/images/serviciosCongelado.jpg" alt="Servicios Congelado Zedina" width="100%">
              </div>
            </div>

            <div class="row py-5 boxServicios d-flex align-items-center">
                <div class="col-6 pr-lg-4">
                    <img class="rounded" src="assets/images/serviciosDistribucion.jpg" alt="Servicios Distribución Zedina" width="100%">
                  </div>
              <div class="col-6 pl-lg-4 bloqueTextServicios">
                <span class="h3 text-warning font-italic font-weight-bold"><span class="d-none d-lg-inline-block"><img  src="assets/images/iconDistribucion.svg" alt="" width="70px"></span> Distribución</span>
                <p class="mr-lg-6">La distribución de los productos se realiza en nuestra flota de camiones climatizados, manteniendo la temperatura adecuada para conservar su calidad.</p>
              </div>
            </div>

            <div class="row d-flex align-items-center">
              <div class="col-lg-4 text-right font-italic pl-6 d-none d-lg-block">
                <p>Cuidamos todos los detalles en cada proceso para...</p>
              </div>
              <div class="col-lg-4 px-5">
                <img class="rounded-circle border border-warning" src="assets/images/imagenCarneEnd.jpg" alt="" width="100%">
              </div>
              <div class="col-lg-4 font-italic pr-6 d-none d-lg-block">
                <p>poner en tu mesa productos de primera calidad.</p>
              </div>
            </div>

            <div class="d-block d-lg-none text-center px-4 font-italic mt-4">
              <p>Cuidamos todos los detalles en cada proceso para poner en tu mesa productos de primera calidad</p>
            </div>

        </div>
      </div>
    </div>
  

</div>