<div class="row my-4 d-flex justify-content-center">
  <div class="col-lg-8 text-center">
    <h1 class="text-primary font-italic font-weight-bold">Cortes de Aves</h1>
    <p class="my-3 my-lg-3">Nuestro principal objetivo es ofrecer productos, servicio de calidad y excelencia; para ello contamos con socios estratégicos internacionales de gran reconocimiento.</p>
    <a class="mb-4" routerLink="/servicios">
      <!-- <img height="16" class="mr-3" src="./assets/images/iconNext.svg"> -->
      <i class="fas fa-arrow-right mr-2"></i>
      Ver nuestro proceso de calidad
    </a>
  </div>
  <!-- <div class="col-lg-4 my-3">
    <img src="assets/images/siluetaCerdo.png" alt="Cortes de Res Zedina" width="100%">
  </div> -->
</div>